* {
  border: 0 solid;
  color: inherit;
  font: inherit;
  margin: 0;
  padding: 0;
}

a[href],
input[type="submit"],
input[type="image"],
input[type="date"],
label[for],
select,
button,
.pointer {
  cursor: pointer;
}
